.timer {
  align-items: center;
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flatpickr-input {
  margin: 0 auto;
  width: 336px;
}
.filed {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.value {
  font-size: 90px;
  font-weight: normal;
  display: block;
  margin-right: 50px;
}
